@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    /* background: url(img/haikei02.svg) center/cover; */
    background: url(img/haikei.svg) center/cover;
}

/* table style */
table,
.formAff {
    min-width: 100%;
    background-color: #fff5;
    /* this fonctionaliti not working in firefox browsser */
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

#connecter {
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

.titel {
    background-color: #fff5;
    backdrop-filter: blur(7px);
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

table,
th,
td {
    padding: .6rem;
}

thead {
    width: 100%;
    height: 10%;

    /* background-color: #fff4; */
}

tbody {
    width: 95%;
    max-height: auto;
    /* background-color: #fffb; */
}

thead tr th {
    position: sticky;
    top: 0;
    left: 0;
    /* background-color: #fff4; */
    background-color: #fffb;
}

thead tr th:first-child {
    border-radius: .8rem 0 0 0;
}

thead tr th:last-child {
    border-radius: 0 .8rem 0 0;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff5;
}

/* navbar style */
header {
    background-image: linear-gradient(to right, #3090ff, #0d2745);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5rem;

    vertical-align: middle;
}

li,
a,
a button,
.subBtn,
.titel {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    width: 100px;
    height: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 5px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    /* color: #256fc4; */
    color: #ff9045;
}

a button,
.subBtn {
    padding: 9px 25px;
    margin-bottom: 4px;
    background-color: rgba(30, 89, 158, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(30, 89, 158, 0.8);
}

/* to fix the size of textareas */
textarea {
    resize: none;
}

/* foooter styling */
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}

footer .menu li {
    list-style: none;
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 30px;
    display: inline-block;
    text-decoration: none;
    opacity: .75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: 1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave01 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}


footer .wave#wave02 {
    z-index: 99;
    opacity: .5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}

footer .wave#wave03 {
    z-index: 100;
    opacity: .2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}

footer .wave#wave04 {
    z-index: 99;
    opacity: .7;
    bottom: 20px;
    animation: animatewave_02 3s linear infinite;
}

@keyframes animatewave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animatewave_02 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}